:root {
    --primary-color: rgb(9, 105, 218);
    --primary-color-focus: #0969da;
    --error-color: #dc3545;
    --padding-desktop: calc(((100vh - 450px)/2)/3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(244, 244, 244);
}

.main-container {
    display: flex;
    flex-direction: column;
}

.logo-container {
    font-size: 2rem;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
         ),
    url(https://images.unsplash.com/photo-1659952586072-b3cebadec6d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80) center center;
    background-size: cover;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.logo-container > h2 {
    color: #fff;
    margin: auto 0;
}
img {
    height: 40px;
    width: 40px;
    margin: auto 0;
    margin-left: 10px;
}
.content {
    padding: 20px;
}

.content > h2 {
    margin: 15px 0;
}

.background-container > h2 {
    position: relative;
    top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.separator {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    padding-bottom: 40px;
    gap: 20px;
    background-color: white;
}
.group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.label-input {
    display: flex;
    flex-direction: column;
    width: 180px;
    gap: 2px;
}


input {
    -webkit-appearance: none;
    border-radius: 3px;
    outline: none;
    border: 1px solid;
    border-color: rgb(235, 235, 235);
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    padding: 5px;
    transition: ease-in 0.20s;
    color: #222222;
}

input:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

/*:not is super useful when creating conditional classes*/
input:focus:not(.invalid) {
    border-color: var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color-focus) !important;
    -webkit-box-shadow: 0 0 3px var(--primary-color-focus) !important;
}

.invalid {
    border-color: var(--error-color);
    box-shadow: 0 0 3px var(--error-color) !important;
    -webkit-box-shadow: 0 0 3px var(--error-color) !important;
}

.space {
    height: calc(1rem + 1px);
    display: none;
}

.label-input > p {
    color: var(--error-color);
    font-size: 1rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 3px;
    color: #fff;
    border: 0px;
    margin: 20px;
    width: 135px;
    transition: all .2s;
}

button:hover{
    filter: brightness(90%);
}

button:active{
    filter: brightness(80%);
}

.button-container > p {
    margin-bottom: 20px;
}

a:not(:hover) {
    text-decoration: none;
}

@media only screen and (min-width: 700px){
    .group {
        flex-direction: row;
        padding-left: 30px;
        align-items: flex-start;
    }

    .separator > h2 {
        padding-left: 30px;
    }
    .logo-container {
        height: 100vh;
        width: 35vw;
    }

    .form-container {
        width: 65vw;
    }
    .main-container {
        flex-direction: row;
    }
    .content {
        padding-top: max(calc(var(--padding-desktop)/2), 0px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .separator {
        padding: max(var(--padding-desktop), 10px) 0;
        align-items: flex-start;
    }
  
    .separator > h2 {
        width: calc(180px*2 + 20px);
        justify-content: flex-start;
    }

    .button-container {
        align-items: flex-start;
        padding-bottom: max(calc(var(--padding-desktop)/2), 0px);

    }

    .button-container > p {
        margin-left: 30px;
    }

    button {
        margin-left: 30px;
    }
}